{% extends '_base.html' %}
{% load static %}

{% block content %}

        <!-- ...:::Start Cart Section:::... -->
        <div class="cart-section section-gap-top-30">
            <div class="container">
                <div class="cart-items-wrapper">
                    <ul class="cart-item-list">
                        <!-- Start Single Cart Item -->
                        {% for item in cart %}
                        <li class="single-cart-item">
                            <div class="image">
                                <img width="90" height="90" src="{{ item.product_obj.covers.url }}" alt="image">
                            </div>
                            <div class="content">
                                <a href="{% url 'cart:delete_from_cart' item.product_obj.id %}">
                                <button class="delete-item">
                                    <svg xmlns="" viewBox="0 0 512 512">
                                        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z"></path>
                                    </svg>
                                </button>
                                </a>
                                <a href="{% url 'product:detail_products' item.product_obj.id %}" class="title">{{ item.product_obj.product.name }}</a>
                                <div class="details">
                                    <div class="left">
                                        <span class="price"> قیمت : {{item.product_obj.selling_price }}</span>
                                    </div>

                                    <div class="right">
                                        <div class="product-quantity">
                                            <form action="{% url 'cart:add_to_cart' item.product_obj.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="num-block skin-2">
                                                    <div class="num-in">
                                                        <span class="minus dis"></span>
                                                        <label for="quan-1" class="visually-hidden"></label>
                                                        <input  name = 'quantity' id="quan-1" type="text" class="in-num" value="{{ item.quantity }}"
                                                               >
                                                        <span class="plus dis"></span>
                                                    </div>
                                                </div>
                                                {{ item.update_quantity_cart.inplace }}
                                                <button class = "btn btn-payment" type="submit">به روزرسانی قیمت</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                           رنگ : {{ item.product_obj.color}}
                            <br>
                        <!-- End Single Cart Item -->
                            {% endfor %}
                    </ul>

                    <ul class="cart-info-list">
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">تعداد محصولات</span> <span
										class="text-right">{{ cart|length}}</span></li>
                            </ul>
                        </li>
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">حمل و نقل</span> <span
										class="text-right">100000</span></li>
                                <li class="item"><span class="text-left">مالیات</span> <span
										class="text-right">40000</span></li>
                            </ul>
                        </li>
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">جمع کل</span> <span
										class="total-price"> تومان {{ cart.calculate_pure_price }} </span>
                                    <a href="{% url 'order:order_create' %}" class="btn"><span class="icon"><i
												class="icon icon-carce-check-circle"></i></span>پرداخت</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ...:::End Cart Section:::... -->

{% endblock %}